Repository jupyterlab/jupyterlab: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

Added copy download url for filebrowser-extension
  packages/filebrowser-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

bug fix for collapsing
  packages/toc/src/generators.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Integrity.
  packages/completer-extension/package.json
Due: prettier --write

Wire up the tooltip using the session manager.
  packages/tooltip-extension/package.json
  packages/tooltip-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

fixed collapsing for markdown
  packages/toc/src/generators.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Added show/hide cell functionality
  packages/toc/src/generators.tsx
  packages/toc/static/eyeball_hidden.svg
  packages/toc/static/eyeball_hover.svg
  packages/toc/static/eyeball_view.svg
  packages/toc/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

fixed prompt for collapsing
  packages/toc/src/generators.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Suppress errors on unload if state database clearing fails.
  packages/apputils-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Update jupyterlab_launcher version.
  setup.py
Due: none

Added copy download url for filebrowser-extension (#5089)
  packages/filebrowser-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

tweaks to changelog docs (#5087)
  docs/source/getting_started/changelog.rst
  docs/source/getting_started/overview.rst
Due: none

File completer (#5049)
  packages/codeeditor/src/editor.ts
  packages/codemirror/src/editor.ts
  packages/codemirror/typings/codemirror/codemirror.d.ts
  packages/completer-extension/package.json
  packages/completer-extension/src/index.ts
  packages/completer/src/connector.ts
  packages/completer/src/contextconnector.ts
  packages/completer/src/handler.ts
  packages/completer/src/index.ts
  packages/completer/src/kernelconnector.ts
  packages/shortcuts-extension/schema/plugin.json
  packages/tooltip-extension/package.json
  packages/tooltip-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Deleted Cells Metadata (#5037)
  package.json
  packages/cells/src/widget.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/model.ts
  tests/test-notebook/src/actions.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

fix for focus/information issues in the right-click context menu (#4590)
  packages/application/src/index.ts
  packages/docmanager-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Fix broken test.
  tests/test-cells/src/widget.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Add saving signal to context interface
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Move saving signal emit into inner method
  packages/docregistry/src/context.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Add tests
  tests/test-docregistry/src/context.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Added theme css classes to shell body
  packages/apputils-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Add failure mode to saving signal
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
  tests/test-docregistry/src/context.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

remove In and Out from all prompts
  packages/cells/src/inputarea.ts
  packages/console/style/index.css
  packages/outputarea/src/widget.ts
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Due: prettier --write, tslint --fix -c tsconfig.json

change dark theme console colors
  packages/theme-dark-extension/style/variables.css
Due: prettier --write

refactored toolbarbutton to include <span> for button hover effects
  packages/apputils/src/toolbar.ts
  packages/apputils/style/toolbar.css
  packages/filebrowser/src/upload.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Clarify the process for watching typescript extensions
  docs/source/developer/extension_dev.rst
Due: none

Update launcher req
  setup.py
Due: none

Update pip
  appveyor.yml
Due: none

reinstate nb dep for now
  setup.py
Due: none

Switch to python 3.5+
  jupyterlab/browser_check.py
  jupyterlab/commands.py
  jupyterlab/extension_manager_handler.py
  jupyterlab/jlpmapp.py
  jupyterlab/labextensions.py
  jupyterlab/semver.py
  jupyterlab/tests/echo_kernel.py
  jupyterlab/tests/test_app.py
  jupyterlab/tests/test_build_api.py
  jupyterlab/tests/test_jupyterlab.py
  jupyterlab/update.py
  setup.py
Due: none

Remove double click to rename
  packages/filebrowser/src/listing.ts
Due: prettier --write, tslint --fix -c tsconfig.json

active cell null
  packages/notebook/src/widget.ts
Due: prettier --write, tslint --fix -c tsconfig.json

main menu optimization
  packages/mainmenu-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Allow extensions to provide loader overrides
  .eslintrc
  dev_mode/webpack.config.js
  packages/codemirror-extension/package.json
Due: prettier --write, eslint --fix

Remove css shortcut
  dev_mode/webpack.config.js
  packages/codemirror-extension/package.json
Due: prettier --write, eslint --fix

revert change to codemirror ext
  packages/codemirror-extension/package.json
Due: prettier --write

fix webpack config
  dev_mode/webpack.config.js
Due: prettier --write, eslint --fix

Remove double click to rename (#5101)
  packages/filebrowser/src/listing.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Add "Open File..." to file menu
  packages/docmanager-extension/src/index.ts
  packages/mainmenu-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Path conditions:
  prettier --write: any of: **/*{.ts,.tsx,.js,.jsx,.css,.json,.md}
  tslint --fix -c tsconfig.json: any of: **/*{.ts,.tsx}
  eslint --fix: any of: **/*{.js,.jsx}
