Repository jupyterlab/jupyterlab: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

Move materialcolors.css to apputils
  packages/application/style/index.css
  packages/apputils/style/index.css
  packages/apputils/style/materialcolors.css
Due: prettier --write

fix mathjax tests
  tests/test-rendermime/package.json
  tests/test-rendermime/src/registry.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Remove maxlength so as to not cut off kernel name in kernel selector dialog.
  packages/apputils/src/clientsession.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

var -> let, naming conventions, == -> ===
  packages/toc/src/generators/markdowndocgenerator/index.ts
  packages/toc/src/generators/markdowndocgenerator/toolbargenerator.tsx
  packages/toc/src/generators/notebookgenerator/codemirror.tsx
  packages/toc/src/generators/notebookgenerator/index.ts
  packages/toc/src/generators/notebookgenerator/tagstool/index.tsx
  packages/toc/src/generators/notebookgenerator/tagstool/tag.tsx
  packages/toc/src/generators/notebookgenerator/tagstool/tagslist.tsx
  packages/toc/src/generators/notebookgenerator/toolbargenerator.tsx
  packages/toc/src/generators/shared.ts
  packages/toc/src/toc.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Add a bunch of copyrights.
  packages/toc/src/generators/index.ts
  packages/toc/src/generators/markdowndocgenerator/optionsmanager.ts
  packages/toc/src/generators/markdowndocgenerator/toolbargenerator.tsx
  packages/toc/src/generators/notebookgenerator/codemirror.tsx
  packages/toc/src/generators/notebookgenerator/index.ts
  packages/toc/src/generators/notebookgenerator/optionsmanager.ts
  packages/toc/src/generators/notebookgenerator/tagstool/index.tsx
  packages/toc/src/generators/notebookgenerator/tagstool/tag.tsx
  packages/toc/src/generators/notebookgenerator/tagstool/tagslist.tsx
  packages/toc/src/generators/notebookgenerator/toolbargenerator.tsx
  packages/toc/src/generators/shared.ts
  packages/toc/tslint.json
Due: prettier --write, tslint --fix -c tsconfig.json

Move some notebook-specific stuff from shared to notebookgenerator.
  packages/toc/src/generators/notebookgenerator/codemirror.tsx
  packages/toc/src/generators/notebookgenerator/heading.ts
  packages/toc/src/generators/notebookgenerator/index.ts
  packages/toc/src/generators/notebookgenerator/itemrenderer.tsx
  packages/toc/src/generators/shared.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Remove maxlength so as to not cut off kernel name in kernel selector dialog. (#5260)
  packages/apputils/src/clientsession.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Extensions manager results sections (#5147)
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

update lerna
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

Update yarnrc
  .yarnrc
Due: none

Update lerna (#5262)
  .yarnrc
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

Add npm executables
  buildutils/package.json
Due: prettier --write

Update script names
  buildutils/package.json
Due: prettier --write

Add node shebang
  buildutils/src/get-dependency.ts
  buildutils/src/remove-dependency.ts
  buildutils/src/update-dependency.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Show the command palette shortcut
  dev_mode/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils-extension/src/palette.ts
  packages/apputils/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/extensionmanager/package.json
  packages/filebrowser-extension/package.json
  packages/filebrowser/package.json
  packages/help-extension/package.json
  packages/json-extension/package.json
  packages/launcher/package.json
  packages/mainmenu/package.json
  packages/notebook/package.json
  packages/running/package.json
  packages/settingeditor/package.json
  packages/shortcuts-extension/package.json
  packages/vdom-extension/package.json
  packages/vega4-extension/package.json
  tests/package.json
  tests/test-application/package.json
  tests/test-apputils/package.json
  tests/test-mainmenu/package.json
  yarn.lock
Due: prettier --write, tslint --fix -c tsconfig.json

Integrity
  packages/apputils-extension/package.json
Due: prettier --write

Show installation output
  scripts/travis_install.sh
Due: none

Pin inquirer typings for now.
  buildutils/package.json
  yarn.lock
Due: prettier --write

adding cell inspector logic, review edits
  packages/notebook-extension/src/index.ts
  packages/notebook/src/celltools.ts
  packages/services/src/nbconvert/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

code cleanup
  packages/notebook-extension/src/index.ts
  packages/notebook/src/celltools.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Make toolbar button sizing and styling more consistent with other items in the application.
  packages/toc/style/index.css
Due: prettier --write

Update typedoc
  packages/metapackage/package.json
  yarn.lock
Due: prettier --write

Buildutils 0.10.0
  buildutils/package.json
Due: prettier --write

integrity
  dev_mode/package.json
  examples/app/package.json
Due: prettier --write

review comments, fixing celltools tests
  packages/notebook-extension/src/index.ts
  tests/test-notebook/src/celltools.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Check if tags are actually an array, and simplify tag list creation.
  packages/toc/src/generators/notebookgenerator/toolbargenerator.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Fix bug with parsing underline-style markdown headings.
  packages/toc/src/generators/markdowndocgenerator/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Some heading cleanup in notebook generator.
  packages/toc/src/generators/notebookgenerator/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Sanitize html before dangerously setting it.
  packages/toc/src/extension.ts
  packages/toc/src/generators/markdowndocgenerator/index.ts
  packages/toc/src/generators/markdowndocgenerator/itemrenderer.tsx
  packages/toc/src/generators/markdowndocgenerator/optionsmanager.ts
  packages/toc/src/generators/notebookgenerator/codemirror.tsx
  packages/toc/src/generators/notebookgenerator/itemrenderer.tsx
  packages/toc/src/generators/notebookgenerator/optionsmanager.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Allow for disabled toolbar buttons
  packages/apputils/src/toolbar.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Allow for disabled toolbar buttons (#5278)
  packages/apputils/src/toolbar.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Try removing happypack for now
  tests/webpack.config.js
Due: prettier --write, eslint --fix

Hide quit entry for older notebook versions.
  jupyterlab/labapp.py
Due: none

wip change services to use jest
  .gitignore
  buildutils/src/ensure-repo.ts
  jupyterlab/tests/test_app.py
  package.json
  packages/coreutils/src/pageconfig.ts
  packages/services/convert-to-jest.js
  packages/services/examples/node/package.json
  packages/services/jest.config.js
  packages/services/package.json
  packages/services/src/kernel/default.ts
  packages/services/src/terminal/default.ts
  packages/services/test/run-test.py
  packages/services/test/src/config/config.spec.ts
  packages/services/test/src/contents/index.spec.ts
  packages/services/test/src/contents/validate.spec.ts
  packages/services/test/src/kernel/comm.spec.ts
  packages/services/test/src/kernel/ifuture.spec.ts
  packages/services/test/src/kernel/ikernel.spec.ts
  packages/services/test/src/kernel/kernel.spec.ts
  packages/services/test/src/kernel/manager.spec.ts
  packages/services/test/src/kernel/messages.spec.ts
  packages/services/test/src/kernel/validate.spec.ts
  packages/services/test/src/manager.spec.ts
  packages/services/test/src/serverconnection.spec.ts
  packages/services/test/src/session/isession.spec.ts
  packages/services/test/src/session/manager.spec.ts
  packages/services/test/src/session/validate.spec.ts
  packages/services/test/src/setting/manager.spec.ts
  packages/services/test/src/terminal/manager.spec.ts
  packages/services/test/src/terminal/terminal.spec.ts
  packages/services/test/src/utils.spec.ts
  packages/services/test/src/utils.ts
  packages/services/test/src/workspace/manager.spec.ts
  packages/services/test/tsconfig.json
  packages/services/webpack.config.js
  scripts/travis_script.sh
  testutils/package.json
  testutils/src/jestScript.ts
  testutils/tsconfig.json
  yarn.lock
Due: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

Remove duplicate tests
  packages/services/test/src/session/session.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

lint
  packages/services/test/src/session/isession.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Hide quit entry for older notebook versions. (#5280)
  jupyterlab/labapp.py
Due: none

Release 0.34.8
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*{.ts,.tsx,.js,.jsx,.css,.json,.md}
  tslint --fix -c tsconfig.json: any of: **/*{.ts,.tsx}
  eslint --fix: any of: **/*{.js,.jsx}
