Repository jupyterlab/jupyterlab: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

.lintstagedrc:

{
  "linters": {
    "**/*{.ts,.tsx,.js,.jsx,.css,.json,.md}": [
      "prettier --write"
    ],
    "**/*{.ts,.tsx}": [
      "tslint --fix -c tsconfig.json",
      "git add"
    ],
    "**/*{.js,.jsx}": [
      "eslint --fix",
      "git add"
    ]
  },
  "concurrent": false
}

show execution count in toc
  packages/toc/src/generators.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Working on toggle code cells on/off
  packages/toc/src/generators.ts
  packages/toc/src/toc.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Add CombinedSignal extension
  src/defaults/manager.ts
  src/util/signal.ts
Due: prettier --write, tslint --fix -c tsconfig.json

reorganized with headders
  CHANGELOG.md
Due: prettier --write

Rename var to match parent flows to child semantics
  src/util/signal.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Bug fixes
  packages/toc/package-lock.json
  packages/toc/src/generators.ts
Due: prettier --write, tslint --fix -c tsconfig.json

More changelog updates
  CHANGELOG.md
Due: prettier --write

altered filePath to take docManager to check contexts instead of relying on instanceOf behavior
  package.json
  src/defaults/filePath.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Prettify changelog.
  CHANGELOG.md
Due: prettier --write

eliminated instance trackers and checked current trackers for active editor
  src/defaults/lineCol.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

eliminated instance trackers and checked current trackers for active editor for tabSpace component
  src/defaults/tabSpace.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

eliminated instance trackers and checked current trackers for active editor for kernelStatus
  src/defaults/kernelStatus.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Working on toggle
  packages/toc/src/extension.ts
  packages/toc/src/generators.ts
Due: prettier --write, tslint --fix -c tsconfig.json

implemented show/hide code cells
  packages/toc/package-lock.json
  packages/toc/src/generators.ts
  packages/toc/src/toc.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

JupyterLab 0.33.0
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  jupyterlab/tests/mock_packages/extension/package.json
Due: prettier --write

Remove “Beta” from the app name.
  jupyterlab/extension.py
Due: none

Fixes #4913 path issue in context menu open command.
  packages/filebrowser-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Fulfills request in #4528
  packages/docmanager-extension/src/index.ts
  packages/filebrowser-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

URI encoded src attribute embedded SVG data, so it will render correctly accross all popular webbrowsers
  packages/rendermime/src/renderers.ts
Due: prettier --write, tslint --fix -c tsconfig.json

fix for context menu problems in #4500/#4529
  packages/application/src/index.ts
  packages/docmanager-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Updated svg render tetst
  tests/test-rendermime/src/factories.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Add confirmation for revert to checkpoint for #4941. (#4976)
  packages/docmanager-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Give a better error message when lint check fails
  scripts/travis_script.sh
Due: none

Make sure we have linters installed
  package.json
Due: prettier --write

URI encoded src attribute embedded SVG data (#4981)
  packages/rendermime/src/renderers.ts
  tests/test-rendermime/src/factories.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Convert sender to be default manager
  src/defaults/manager.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Generalized the focus fix
  packages/application/src/index.ts
  packages/docmanager-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Modifications
  packages/toc/package-lock.json
  packages/toc/src/extension.ts
  packages/toc/src/toc.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Fix README.md install directions using jlpm run prettier
  README.md
Due: prettier --write

Added keys to remove warning message and fixed notebook bug
  packages/toc/src/extension.ts
  packages/toc/src/generators.ts
  packages/toc/src/toc.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Updated for npm release
  package.json
Due: prettier --write

Made requested edits to PR
  packages/docmanager-extension/src/index.ts
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/model.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Add connector to watch changes in single settings value
  src/util/settings.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Update kernel icon
  style/images/kernel-icon.svg
Due: none

Change defaults manager to use setting connector
  src/defaults/manager.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Convert most default items to check value difference before emitting state change
  src/defaults/commandEdit.tsx
  src/defaults/editorSyntax.tsx
  src/defaults/filePath.tsx
  src/defaults/kernelStatus.tsx
  src/defaults/lineCol.tsx
  src/defaults/notebookTrust.tsx
  src/defaults/runningSessions.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Remove unneeded listeners on tracker current changed
  src/defaults/lineCol.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Remove unneed listeners from kernel status item
  src/defaults/kernelStatus.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Remove console logging
  src/component/hover.tsx
Due: prettier --write, tslint --fix -c tsconfig.json
