Repository jupyterlab/jupyterlab: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

Add favicon change to changelog.
  CHANGELOG.md
Due: prettier --write

Create schema and settings directories in test app.
  jupyterlab/tests/test_app.py
  scripts/travis_script.sh
Due: none

Tweak wording on nodejs < 10 comment.
  CHANGELOG.md
Due: prettier --write

Update changelog date.
  CHANGELOG.md
Due: prettier --write

Update README gif
  README.md
Due: prettier --write

Basic code cell, needs numbering fix
  packages/toc/package-lock.json
  packages/toc/src/generators.ts
  packages/toc/src/toc.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Actually fix python 3.5 compatibility.
  jupyterlab/commands.py
Due: none

Functional basic code cell - numbering fixed
  packages/toc/src/generators.ts
  packages/toc/src/toc.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Remove unused icons
  style/images/command-icon.svg
  style/images/edit-icon.svg
  style/index.css
Due: prettier --write

Add icon for display in settings registry
  schema/plugin.json
  style/images/status-bar-icon.svg
  style/index.css
Due: prettier --write

Tidying code
  src/ShortcutWidget.tsx
  src/componentStyle/ShortcutInputStyle.tsx
  src/componentStyle/ShortcutItemStyle.tsx
  src/componentStyle/ShortcutListStyle.tsx
  src/componentStyle/ShortcutUIStyle.tsx
  src/componentStyle/TopNavStyle.tsx
  src/components/ShortcutButton.tsx
  src/components/ShortcutInput.tsx
  src/components/ShortcutItem.tsx
  src/components/ShortcutList.tsx
  src/components/ShortcutTitleItem.tsx
  src/components/ShortcutUI.tsx
  src/components/TopNav.tsx
  src/index.tsx
  style/icons/add-blue.svg
  style/icons/add-light-blue.svg
  style/icons/remove-light.svg
  style/icons/remove-med.svg
  style/icons/remove.svg
  style/index.css
  style/urls.css
Due: prettier --write, tslint --fix -c tsconfig.json

Changed alt text from inner div groups to outer to account for hovers when cursor on outer padding
  src/defaults/commandEdit.tsx
  src/defaults/editorSyntax.tsx
  src/defaults/filePath.tsx
  src/defaults/kernelStatus.tsx
  src/defaults/lineCol.tsx
  src/defaults/notebookTrust.tsx
  src/defaults/runningSessions.tsx
  src/defaults/tabSpace.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Update settings icon w/ bounding box
  style/images/status-bar-icon.svg
Due: none

Update settings tests.
  packages/services/test/src/setting/manager.spec.ts
  packages/services/test/src/workspace/manager.spec.ts
  scripts/travis_script.sh
Due: prettier --write, tslint --fix -c tsconfig.json

fixing checkNonFunctional
  src/components/ShortcutInput.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Implement CommandLinker using AttachedProperties.
  packages/apputils/package.json
  packages/apputils/src/commandlinker.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Update tests.
  tests/test-apputils/src/commandlinker.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Integrity.
  dev_mode/package.json
Due: prettier --write

Fixing broken edit on GitHub links for documentation
  docs/source/conf.py
Due: none

Tweak install instructions further per feedback
  README.md
Due: prettier --write

Add bounding boxes to remaining icons
  style/images/kernel-icon.svg
  style/images/not-trusted-icon.svg
  style/images/terminal-icon.svg
  style/images/trusted-icon.svg
Due: none

Add confirmation for revert checkpoint.
  packages/docmanager-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Expose icon item offset options
  src/component/icon.tsx
  src/defaults/notebookTrust.tsx
  src/defaults/runningSessions.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Update height to match multiple of 4 rule
  src/style/lineForm.ts
  src/style/variables.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Add rounded border to progress bar
  src/style/progressBar.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Add confirmation for reload from disk.
  packages/docmanager-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Allow event propagation through to popup body
  src/component/hover.tsx
  src/defaults/lineCol.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

initial changes
  package.json
  src/defaults/editorSyntax.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

removing index.css
  src/index.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Scope popup event listeners to current body
  src/component/hover.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Fix issue with incorrect current editor on reload
  src/defaults/lineCol.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

fix for showing numbering when toc is not open
  packages/toc/package-lock.json
  packages/toc/src/toc.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

changed alt text names to reflect interaction, added kernel name to active sessions alt text
  src/component/hover.tsx
  src/defaults/filePath.tsx
  src/defaults/kernelStatus.tsx
  src/defaults/runningSessions.tsx
  src/defaults/tabSpace.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Actually fix python 3.5 compatibility. (#4970)
  jupyterlab/commands.py
Due: none

Fixing broken edit on GitHub links for documentation (#4974)
  docs/source/conf.py
Due: none

Runs with 0.33 release
  package.json
  src/ShortcutWidget.tsx
  src/index.tsx
  style/variables.css
  tsconfig.json
Due: prettier --write, tslint --fix -c tsconfig.json

added left and right option to hover to align with status bar compponent, added suntax highlighting menu and made editor syntax interactive
  src/component/hover.tsx
  src/defaults/editorSyntax.tsx
  src/defaults/lineCol.tsx
  src/defaults/tabSpace.tsx
  src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

got rid of extraneous console message
  src/defaults/editorSyntax.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Updated for 0.33
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*{.ts,.tsx,.js,.jsx,.css,.json,.md}
  tslint --fix -c tsconfig.json: any of: **/*{.ts,.tsx}
  eslint --fix: any of: **/*{.js,.jsx}
