Repository jupyterlab/jupyterlab: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

.lintstagedrc:

{
  "linters": {
    "**/*{.ts,.tsx,.js,.jsx,.css,.json,.md}": [
      "prettier --write"
    ],
    "**/*{.ts,.tsx}": [
      "tslint --fix -c tsconfig.json",
      "git add"
    ],
    "**/*{.js,.jsx}": [
      "eslint --fix",
      "git add"
    ]
  },
  "concurrent": false
}

removed extraneous test
  tests/test-cells/src/widget.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

fix bug for selected tag type
  packages/toc/src/plugins.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Formatted dropdown menu
  packages/toc/src/plugins.tsx
  packages/toc/src/toc.tsx
  packages/toc/static/check.svg
  packages/toc/static/menu_arrow.svg
  packages/toc/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

fixed alignment for toc buttons
  packages/toc/src/plugins.tsx
  packages/toc/src/toc.tsx
  packages/toc/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

Dropdown improvements
  packages/toc/package-lock.json
  packages/toc/src/toc.tsx
  packages/toc/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

Changed font size section to conform to the '0: super-primary, 1: primary, 2: secondary, 3: tertiary' convention laid out at the top of the CSS file.
  packages/theme-light-extension/style/variables.css
Due: prettier --write

bug fix for markdown
  packages/toc/package-lock.json
  packages/toc/src/generators.ts
  packages/toc/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

Minor dropdown style and debugging
  packages/toc/src/toc.tsx
  packages/toc/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

Implement resource usage item
  schema/plugin.json
  src/defaults/index.ts
  src/defaults/memoryUsage.tsx
  src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Formatting and make running sessions/kernel status item explicitly ordered
  src/defaults/kernelStatus.tsx
  src/defaults/runningSessions.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Use existing context machinery to hide nbresuse item
  src/defaults/memoryUsage.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

fixed latex in markdown text
  packages/toc/src/generators.ts
  packages/toc/src/toc.tsx
  packages/toc/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

not highlight syntax for raw cells
  packages/toc/src/codemirror.tsx
  packages/toc/src/toc.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

moved prompt out of codemirror
  packages/toc/src/generators.ts
  packages/toc/src/toc.tsx
  packages/toc/style/index.css
  packages/toc/tsconfig.json
Due: prettier --write, tslint --fix -c tsconfig.json

clear console warning
  packages/toc/src/plugins.tsx
  packages/toc/src/toc.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

disable selecting for drop down menu
  packages/toc/style/index.css
Due: prettier --write

Improvements to things
  packages/toc/src/plugins.tsx
  packages/toc/src/toc.tsx
  packages/toc/static/check.svg
  packages/toc/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

Working on padding
  packages/toc/style/index.css
Due: prettier --write

fixed codemirror highlighting in dev mode
  packages/toc/src/codemirror.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Make the filebrowser model refresh interval a constructor option.
  packages/filebrowser/src/model.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Make the filebrowser model refresh interval a constructor option. (#5048)
  packages/filebrowser/src/model.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Mirrored output has takes all available vertical space when only one output is visible
  packages/outputarea/style/index.css
Due: prettier --write

auto refresh code cell when toc is loaded
  packages/toc/src/codemirror.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

bug fix for dev mode
  packages/toc/src/codemirror.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

add support for saving default settings
  packages/toc/src/plugins.tsx
  packages/toc/src/toc.tsx
  packages/toc/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

Working on format of dropdown
  packages/toc/package-lock.json
  packages/toc/src/plugins.tsx
  packages/toc/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

fixed css for cell type dropdown (final)
  packages/toc/style/index.css
Due: prettier --write

Fixed minor numbering icon issue
  packages/toc/style/index.css
Due: prettier --write

line up code cells with other toc items
  packages/toc/src/toc.tsx
  packages/toc/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

fixed css for toolbar
  packages/toc/style/index.css
Due: prettier --write

Add links to extensions listed in package manager #5053
  jupyterlab/commands.py
  jupyterlab/extension_manager_handler.py
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/widget.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

bug fix for user defaults, now working when switching files
  packages/toc/src/plugins.tsx
  packages/toc/src/toc.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

disabled auto numbering by default
  packages/toc/src/generators.ts
  packages/toc/src/toc.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

minor css fix
  packages/toc/src/toc.tsx
  packages/toc/style/index.css
Due: prettier --write, tslint --fix -c tsconfig.json

Mirrored output has takes all available vertical space when only one output is visible (#5052)
  packages/outputarea/style/index.css
Due: prettier --write

Rename link to url, do not assume the existence of homepage and repository in package
  jupyterlab/commands.py
  jupyterlab/extension_manager_handler.py
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/widget.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Fix getting url from json file
  jupyterlab/extension_manager_handler.py
Due: none

Add `defaultWorkspace` to application info.
  packages/application/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Release @jupyterlab/outputarea@0.17.3
  packages/outputarea/package.json
Due: prettier --write
