Repository jupyterlab/jupyterlab: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

more debug
  jupyterlab/chrome-test.js
Due: prettier --write, eslint --fix

Fix handling of timeout
  dev_mode/index.js
  jupyterlab/chrome-test.js
Due: prettier --write, eslint --fix

cleanup
  dev_mode/index.js
  jupyterlab/chrome-test.js
  jupyterlab/extension.py
  jupyterlab/staging/index.js
Due: prettier --write, eslint --fix

Update staging index
  jupyterlab/staging/index.js
Due: prettier --write, eslint --fix

Fix Vega-Embed version so that we don’t yet update Vega-Lite to version 3 since Altair does not yet support it.
  dev_mode/package.json
  packages/vega4-extension/package.json
  yarn.lock
Due: prettier --write

default return when writable widget found in saveAll enabled check
  packages/docmanager-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Prevent focus loss on `mouseout` for `input` elements inside toolbar.
  packages/apputils/src/mainareawidget.ts
Due: prettier --write, tslint --fix -c tsconfig.json

add handling of core dir
  jupyterlab/extension.py
Due: none

integrity update
  dev_mode/package.json
Due: prettier --write

Add github templates (#5335)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/installation-and-configuration-issues.md
  .github/pull_request_template.md
Due: prettier --write

Remove toolbar auto-defocusing. Bind toolbar button action to `mousedown` and prevent default action to avoid stealing focus from main content.
  packages/apputils/src/mainareawidget.ts
  packages/apputils/src/toolbar.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Update toolbar tests.
  tests/test-apputils/src/toolbar.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Workspaces CLI (#5166)
  MANIFEST.in
  clean.py
  dev_mode/index.js
  docs/source/getting_started/changelog.rst
  examples/cell/main.py
  examples/console/main.py
  examples/filebrowser/main.py
  examples/notebook/main.py
  examples/terminal/main.py
  jupyterlab/__init__.py
  jupyterlab/chrome-test.js
  jupyterlab/commands.py
  jupyterlab/extension.py
  jupyterlab/labapp.py
  jupyterlab/semver.py
  jupyterlab/staging/index.js
  packages/application/src/layoutrestorer.ts
  packages/coreutils/src/statedb.ts
  packages/services/examples/browser-require/main.py
  packages/services/examples/browser/main.py
  packages/services/examples/node/main.py
  setup.py
  setupbase.py
Due: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

Fix Vega-Embed version (#5342)
  packages/vega4-extension/package.json
  yarn.lock
Due: prettier --write

Add logic for switching side panel from left to right.
  packages/application-extension/package.json
  packages/application-extension/schema/sidebar.json
  packages/application-extension/src/index.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Cache side area rank.
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Make contextMenuFirst more flexible.
  packages/application/src/index.ts
  packages/docmanager-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Add a context menu item to switch sidebar tab sides.
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Reduce context-menu-related API surface area on the application.
  packages/application/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Update notebook tests.
  tests/test-notebook/src/default-toolbar.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Prevent focus loss on `mouseout` for `input` elements inside toolbar (#5344)
  packages/apputils/src/mainareawidget.ts
  packages/apputils/src/toolbar.tsx
  tests/test-apputils/src/toolbar.spec.ts
  tests/test-notebook/src/default-toolbar.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Clean by default before building and auto-build in dev mode
  jupyterlab/build_handler.py
  jupyterlab/labapp.py
Due: none

clean up handling of node check with display
  jupyterlab/commands.py
  jupyterlab/node-version-check.js
Due: prettier --write, eslint --fix

add sidebar min-width css variable
  packages/application/style/sidepanel.css
  packages/inspector/style/index.css
  packages/notebook/style/index.css
  packages/running/style/index.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Due: prettier --write

Return fast when canceling file renaming dialog
  packages/docmanager/src/dialogs.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Return fast when canceling file renaming dialog (#5357)
  packages/docmanager/src/dialogs.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Switch left right panel (#5347)
  packages/application-extension/package.json
  packages/application-extension/schema/sidebar.json
  packages/application-extension/src/index.tsx
  packages/application/src/index.ts
  packages/application/src/shell.ts
  packages/docmanager-extension/src/index.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Release @jupyterlab/application@0.18.6
  packages/application/package.json
Due: prettier --write

Release @jupyterlab/inspector@0.18.5
  dev_mode/package.json
  examples/app/package.json
  packages/application-extension/package.json
  packages/apputils-extension/package.json
  packages/codemirror-extension/package.json
  packages/completer-extension/package.json
  packages/console-extension/package.json
  packages/csvviewer-extension/package.json
  packages/docmanager-extension/package.json
  packages/extensionmanager-extension/package.json
  packages/faq-extension/package.json
  packages/filebrowser-extension/package.json
  packages/fileeditor-extension/package.json
  packages/help-extension/package.json
  packages/imageviewer-extension/package.json
  packages/inspector-extension/package.json
  packages/inspector/package.json
  packages/launcher-extension/package.json
  packages/mainmenu-extension/package.json
  packages/mathjax2-extension/package.json
  packages/metapackage/package.json
  packages/notebook-extension/package.json
  packages/rendermime-extension/package.json
  packages/running-extension/package.json
  packages/settingeditor-extension/package.json
  packages/shortcuts-extension/package.json
  packages/tabmanager-extension/package.json
  packages/terminal-extension/package.json
  packages/theme-dark-extension/package.json
  packages/theme-light-extension/package.json
  packages/tooltip-extension/package.json
  tests/test-application/package.json
Due: prettier --write

Release @jupyterlab/notebook@0.18.5
  dev_mode/package.json
  packages/inspector-extension/package.json
  packages/metapackage/package.json
  packages/notebook/package.json
  packages/settingeditor/package.json
  tests/package.json
  tests/test-inspector/package.json
Due: prettier --write

Release @jupyterlab/running@0.18.5
  dev_mode/package.json
  examples/notebook/package.json
  packages/completer-extension/package.json
  packages/inspector-extension/package.json
  packages/metapackage/package.json
  packages/notebook-extension/package.json
  packages/running/package.json
  packages/tooltip-extension/package.json
  tests/package.json
  tests/test-notebook/package.json
  testutils/package.json
Due: prettier --write

Release @jupyterlab/theme-dark-extension@0.18.5
  dev_mode/package.json
  packages/metapackage/package.json
  packages/running-extension/package.json
  packages/theme-dark-extension/package.json
Due: prettier --write

Release 0.34.12
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  packages/metapackage/package.json
  packages/theme-light-extension/package.json
Due: prettier --write

Remove sphinx pin
  docs/environment.yml
Due: none

Use the appropriate node
  jupyterlab/commands.py
Due: none

remove link check for now
  scripts/travis_script.sh
Due: none

Remove sphinx pin (#5359)
  docs/environment.yml
  scripts/travis_script.sh
Due: none

reinstate link checks
  scripts/travis_script.sh
Due: none

reinstate link checks (#5361)
  scripts/travis_script.sh
Due: none

Path conditions:
  prettier --write: any of: **/*{.ts,.tsx,.js,.jsx,.css,.json,.md}
  tslint --fix -c tsconfig.json: any of: **/*{.ts,.tsx}
  eslint --fix: any of: **/*{.js,.jsx}
