Repository jupyterlab/jupyterlab: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

.lintstagedrc:

{
  "linters": {
    "**/*{.ts,.tsx,.js,.jsx,.css,.json,.md}": [
      "prettier --write"
    ],
    "**/*{.ts,.tsx}": [
      "tslint --fix -c tsconfig.json",
      "git add"
    ],
    "**/*{.js,.jsx}": [
      "eslint --fix",
      "git add"
    ]
  },
  "concurrent": false
}

Fixed 'navigate-main' -> 'navigate'
  packages/application-extension/src/index.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Switch tab size item to read values from settings
  src/defaults/tabSpace.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Update trusted icon
  style/images/trusted-icon.svg
Due: none

Allow settings connector to update watched item
  src/util/settings.ts
Due: prettier --write, tslint --fix -c tsconfig.json

fixed resizing and placement issues for status bar hovers, moved text down slightly
  src/component/hover.tsx
  src/defaults/runningSessions.tsx
  src/style/statusBar.ts
  src/style/text.ts
Due: prettier --write, tslint --fix -c tsconfig.json

removed extraneous console logs, comments
  src/component/hover.tsx
  src/defaults/runningSessions.tsx
Due: prettier --write, tslint --fix -c tsconfig.json

Update package.json
  package.json
Due: prettier --write

Resolve a few issues that were identified by jasongrout
  README.md
Due: prettier --write

Updated readme for npm
  README.md
Due: prettier --write

Update README.md to include video use gif
  README.md
Due: prettier --write

Updated GIFs
  README.md
Due: prettier --write

updated gif descriptons
  README.md
Due: prettier --write

Change all ids to match new package name format
  src/defaults/commandEdit.tsx
  src/defaults/editorSyntax.tsx
  src/defaults/filePath.tsx
  src/defaults/fileUpload.tsx
  src/defaults/kernelStatus.tsx
  src/defaults/lineCol.tsx
  src/defaults/manager.ts
  src/defaults/notebookTrust.tsx
  src/defaults/runningSessions.tsx
  src/defaults/tabSpace.tsx
  src/index.ts
  src/statusBar.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Bump version
  package.json
Due: prettier --write

Improve installation instructions, fixes #4940 (#4948)
  README.md
Due: prettier --write

Fixing broken links in documentation
  docs/source/developer/adding_content.rst
  docs/source/developer/documents.rst
  docs/source/developer/notebook.rst
  docs/source/developer/xkcd_extension_tutorial.rst
Due: none

Run browser check in dedicated folder
  jupyterlab/browser_check.py
Due: none

Give a better error message when lint check fails (#4983)
  package.json
  scripts/travis_script.sh
Due: prettier --write

Add a script to convert to chai and apply to test-application
  .eslintrc
  tests/convert-to-chai.js
  tests/test-application/package.json
  tests/test-application/src/layoutrestorer.spec.ts
  tests/test-application/src/router.spec.ts
  tests/test-application/src/shell.spec.ts
  tests/test-coreutils/package.json
Due: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

wip update tests
  tests/convert-to-chai.js
  tests/test-application/src/layoutrestorer.spec.ts
  tests/test-application/src/router.spec.ts
  tests/test-application/src/shell.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

wip update tests
  tests/convert-to-chai.js
  tests/test-application/src/router.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

wip update tests
  tests/test-application/src/router.spec.ts
  tests/test-application/src/shell.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Finish updates
  tests/convert-to-chai.js
  tests/test-application/src/layoutrestorer.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

Release @jupyterlab/docmanager-extension@0.17.3
  packages/docmanager-extension/package.json
Due: prettier --write

Release @jupyterlab/filebrowser-extension@0.17.3
  packages/filebrowser-extension/package.json
Due: prettier --write

Release @jupyterlab/rendermime@0.17.3
  packages/rendermime/package.json
Due: prettier --write

Integrity update
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  packages/application/package.json
  packages/attachments/package.json
  packages/cells/package.json
  packages/console-extension/package.json
  packages/console/package.json
  packages/docregistry/package.json
  packages/faq-extension/package.json
  packages/inspector/package.json
  packages/javascript-extension/package.json
  packages/markdownviewer-extension/package.json
  packages/mathjax2-extension/package.json
  packages/metapackage/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/outputarea/package.json
  packages/rendermime-extension/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/settingeditor-extension/package.json
  packages/settingeditor/package.json
  packages/tooltip/package.json
  tests/package.json
  tests/test-docregistry/package.json
  tests/test-outputarea/package.json
  tests/test-rendermime/package.json
Due: prettier --write

Fixing broken links in documentation (#4988)
  docs/source/developer/adding_content.rst
  docs/source/developer/documents.rst
  docs/source/developer/notebook.rst
  docs/source/developer/xkcd_extension_tutorial.rst
Due: none

integrity update
  tests/test-coreutils/package.json
Due: prettier --write

Convert coreutils to chai
  tests/test-coreutils/package.json
  tests/test-coreutils/src/activitymonitor.spec.ts
  tests/test-coreutils/src/settingregistry.spec.ts
  tests/test-coreutils/src/statedb.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

Update coreutils tests
  tests/test-coreutils/src/activitymonitor.spec.ts
  tests/test-coreutils/src/markdowncodeblocks.spec.ts
  tests/test-coreutils/src/path.spec.ts
  tests/test-coreutils/src/settingregistry.spec.ts
  tests/test-coreutils/src/statedb.spec.ts
  tests/test-coreutils/src/time.spec.ts
  tests/test-coreutils/src/url.spec.ts
  tslint.json
Due: prettier --write, tslint --fix -c tsconfig.json

More conversion cleanup
  tests/convert-to-chai.js
Due: prettier --write, eslint --fix

update apputils tests
  tests/convert-to-chai.js
  tests/test-apputils/package.json
  tests/test-apputils/src/clientsession.spec.ts
  tests/test-apputils/src/commandlinker.spec.ts
  tests/test-apputils/src/instancetracker.spec.ts
  tests/test-apputils/src/sanitizer.spec.ts
  tests/test-apputils/src/toolbar.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json, eslint --fix

convert codemirror tests
  tests/test-codemirror/package.json
  tests/test-codemirror/src/editor.spec.ts
  tests/test-codemirror/src/factory.spec.ts
Due: prettier --write, tslint --fix -c tsconfig.json

0.33.1 patches (#4991)
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  packages/application/package.json
  packages/attachments/package.json
  packages/cells/package.json
  packages/console-extension/package.json
  packages/console/package.json
  packages/docmanager-extension/package.json
  packages/docregistry/package.json
  packages/faq-extension/package.json
  packages/filebrowser-extension/package.json
  packages/inspector/package.json
  packages/javascript-extension/package.json
  packages/markdownviewer-extension/package.json
  packages/mathjax2-extension/package.json
  packages/metapackage/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/outputarea/package.json
  packages/rendermime-extension/package.json
  packages/rendermime/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/settingeditor-extension/package.json
  packages/settingeditor/package.json
  packages/tooltip/package.json
  tests/package.json
  tests/test-docregistry/package.json
  tests/test-outputarea/package.json
  tests/test-rendermime/package.json
Due: prettier --write

Release 0.33.1
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
Due: prettier --write

Add pipy badge to README
  README.md
Due: prettier --write

Add pipy badge to README (#4993)
  README.md
Due: prettier --write

Release 0.33.2
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
Due: prettier --write

Fix browser check
  jupyterlab/browser_check.py
Due: none
